* {
    margin: 0;
    padding: 0;
}

.header_search {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 10px auto;

    img {
        padding: 10px 20px;
    }

    .header_search--form {
        display: flex;

        p {
            padding: 10px 20px;
        }

        input {
            margin: 5px;
        }
    }
}
